<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ponking.pblog.dao.TagMapper">
    <!--    &lt;!&ndash; ehcache配置项 &ndash;&gt;-->
    <!--    <com.ponking.pblog.cache type="org.mybatis.caches.ehcache.LoggingEhcache" >-->
    <!--        <property name="timeToIdleSeconds" value="3600"/>&lt;!&ndash;1 hour&ndash;&gt;-->
    <!--        <property name="timeToLiveSeconds" value="3600"/>&lt;!&ndash;1 hour&ndash;&gt;-->
    <!--        <property name="maxEntriesLocalHeap" value="1000"/>-->
    <!--        <property name="maxEntriesLocalDisk" value="10000000"/>-->
    <!--        <property name="memoryStoreEvictionPolicy" value="LRU"/>-->
    <!--    </com.ponking.pblog.cache>-->

    <resultMap id="ArticleInfoMap" type="com.ponking.pblog.model.dto.ArticleAddDTO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="image" column="image"/>
        <result property="content" column="content"/>
        <result property="contentMd" column="content_md"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="top" column="top"/>
        <result property="commented" column="commented"/>
        <result property="original" column="original"/>
        <result property="sourceUrl" column="source_url"/>
        <result property="visits" column="visits"/>
        <result property="status" column="status"/>
        <result property="categoryId" column="category_id"/>
        <association property="category" javaType="com.ponking.pblog.model.entity.Category"
                     column="{id=category_id}" select="selectCategoryByArticleId"/>
        <collection property="tags" javaType="ArrayList" ofType="com.ponking.pblog.model.entity.Tag" column="{id=id}"
                    select="selectTagsByArticleId"/>
    </resultMap>


    <resultMap id="TagInfoMap" type="com.ponking.pblog.model.vo.TagContentPage">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="articles" javaType="ArrayList" ofType="com.ponking.pblog.model.dto.ArticleAddDTO"
                    column="{id=id}"
                    select="selectArticleId"/>
    </resultMap>


    <!--暴露-->
    <select id="selectTagInfoPage" resultMap="TagInfoMap">
        select *
        from blog_tag
        ${ew.customSqlSegment}
    </select>

    <select id="selectArticleId" resultMap="ArticleInfoMap">
        select *
        from blog_article
        where blog_article.category_id = #{id}
    </select>

    <select id="selectTagsByArticleId" resultType="com.ponking.pblog.model.entity.Tag">
        SELECT
            t.id,t.name,t.path
        FROM
            blog_article_tag at RIGHT JOIN blog_tag t on t.id = at.tag_id
        WHERE
            at.article_id = #{id}
    </select>

    <select id="selectCategoryByArticleId" resultType="com.ponking.pblog.model.entity.Category">
        SELECT
            bc.id,bc.name,bc.path
        FROM
            blog_category bc
        WHERE
            bc.id = #{id}
    </select>

    <select id="selectTagColumnInfo" resultType="com.ponking.pblog.model.vo.TagTableCardVO">
        select t.id, t.name, count(t.id) count
        from blog_article_tag a INNER JOIN blog_tag t
        on a.tag_id = t.id
        GROUP BY t.id
    </select>
</mapper>
