<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="../static/commons/commons::head('归档')">
</head>

<body class="is-3-column">
<nav class="navbar navbar-main" th:replace="../static/commons/commons::navbar_header(2)">
</nav>

<section class="section">
    <div class="container">
        <div class="columns">
            <div id="template-archives" class="column is-8-tablet is-8-desktop is-6-widescreen has-order-2 column-main">

                <div class="card widget" th:each="archives : ${items}">
                    <div class="card-content">
                        <!--/*@thymesVar id="date" type="java.util.Date"*/-->
                        <h3 class="tag is-link" th:text="${#dates.format(archives.date,'yyyy')}">
                        </h3>
                        <div class="timeline">
                            <article class="media" th:each="archive : ${archives.archiveList}">

                                <div class="media-content">
                                    <div class="content">
                                        <!--/*@thymesVar id="date" type="java.util.Date"*/-->
                                        <time class="has-text-grey is-size-7 is-block is-uppercase"
                                              datetime="2018-08-12T13:07:59.000Z" th:text="${#dates.format(archive.date,'yyyy-MM-dd')}">
                                        </time>
                                        <a href="<%= '/articles/'+archive.id %>" th:href="@{/articles/{id}(id=${archive.id})}"
                                           class="title has-link-black-ter is-size-6 has-text-weight-normal" th:text="${archive.title}"></a>
                                        <div class="level article-meta is-mobile">
                                            <div class="level-left">
                                                <div class="level-item is-size-7 is-uppercase">
                                                    <a class="has-link-grey -link"
                                                       href="<%= '/categories/'+archive.category.name %>" th:href="@{/categories/{id}(id=${archive.category.id})}" th:text="${archive.category.name}"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="card card-transparent">
                    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                        <div class="pagination-previous" th:classappend="${page.current<=1}?'is-invisible is-hidden-mobile':''">
                            <a class="is-flex-grow has-text-black-ter" href="/page/0/" th:href="@{/archives(page=${page.current}-1,,time=${time})}">上一页</a>
                        </div>
                        <div class="pagination-next" th:classappend="${page.current>=page.pages}?'is-invisible is-hidden-mobile':''">
                            <a class="is-flex-grow has-text-black-ter" href="/page/2/" th:href="@{/archives(page=${page.current}+1,time=${time})}">下一页</a>
                        </div>
                        <ul class="pagination-list is-hidden-mobile">

                            <li th:each="i:${#numbers.sequence(page.current-1>0?page.current-1:1,page.current+3>page.pages?page.pages:page.current+3)}">
                                <a class="pagination-link" href="/" th:href="@{/archives(page=${i},time=${time})}" th:text="${i}" th:classappend="${page.current==i?'is-current':'has-text-black-ter'}">1</a>
                            </li>

                            <!--
                            <li><a class="pagination-link has-text-black-ter" href="/page/2/">2</a></li>
                            <li><span class="pagination-ellipsis">…</span></li>
                             <li><a class="pagination-link has-text-black-ter" href="/page/3/">3</a></li>
                            -->

                        </ul>
                    </nav>
                </div>

            </div>


            <div class="column is-4-tablet is-4-desktop is-3-widescreen has-order-1 column-left is-sticky" th:replace="../static/commons/commons::left_column">
            </div>


            <div class="column is-4-tablet is-4-desktop is-3-widescreen is-hidden-touch is-hidden-desktop-only has-order-3 column-right is-sticky" th:replace="../static/commons/commons::right_column">

            </div>

        </div>
    </div>
</section>
<footer class="footer" th:replace="../static/commons/commons::footer">
</footer>
<th:block th:replace="../static/commons/commons :: script">

</th:block>

</body>
</html>