<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="../static/commons/commons::head('分类')">

</head>
<body class="is-3-column">
<nav class="navbar navbar-main" th:replace="../static/commons/commons :: navbar_header(3)">
</nav>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8-tablet is-8-desktop is-6-widescreen has-order-2 column-main">
                <div class="card widget">
                    <div class="card-content">
                        <div class="menu">
                            <h3 class="menu-label">
                                分类
                            </h3>
                            <ul class="menu-list">
                                <li th:each="category:${categories}">
                                    <a class="level is-marginless" href="/categories/ACM/category.html" th:href="@{/categories/{id}(id=${category.id})}">
                                        <span class="level-start">
                                            <span class="level-item" th:text="${category.name}">ACM</span>
                                        </span>
                                        <span class="level-end">
                                            <span class="level-item tag" th:text="${category.count}">4</span>
                                        </span>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-4-tablet is-4-desktop is-3-widescreen  has-order-1 column-left is-sticky" th:replace="../static/commons/commons :: left_column">
            </div>

            <div class="column is-4-tablet is-4-desktop is-3-widescreen is-hidden-touch is-hidden-desktop-only has-order-3 column-right is-sticky" th:replace="../static/commons/commons :: right_column">
            </div>

        </div>
    </div>
</section>
<footer class="footer" th:replace="../static/commons/commons :: footer">
</footer>
<th:block th:replace="../static/commons/commons :: script">

</th:block>

</body>
</html>